<div class="wrapper">
  <div class="content">
    <!-- Contenido de tu página -->
  </div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h5>Contacto</h5>
          <p>Email: example@gmail.com</p>
          <p>Teléfono: 123456789</p>
          <p>Dirección: Calle Ejemplo, 123</p>
        </div>
        <div class="col-md-6">
          <h5>Otro contenido del footer</h5>
          <!-- Agrega aquí cualquier otro contenido que desees -->
        </div>
      </div>
    </div>
  </footer>
</div>
