<div class="wrapper">
  <div class="content">
    <!-- Contenido de tu página -->
  </div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h5>Contacto</h5>
          <p>Email: javi.elchulo.2001@gmail.com</p>
          <p>Teléfono: 622627124</p>
          <p>Dirección: Calle Ejemplo, 123</p>
        </div>
        <div class="col-md-6">
          <h5>Blocky</h5>
          <p>Pagina de bloc de notas</p>
          <p>Guarda tus contenidos para nunca olvidarlo</p>
          <p>La pagina protege tus datos</p>
          <p>© 2023 Blog de Notas</p>
        </div>
      </div>
    </div>
  </footer>
</div>
