<app-menu></app-menu>

<div class="container">

  <h1 class="titulo" style="text-align: center;">Correos enviados</h1>

  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre Usuario</th>
        <th scope="col">Ver Correo Enviado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contacto of notas">
        <td>{{contacto.id}}</td>
        <td>{{contacto.titulo}}</td>
        <td><button class="btn btn-outline-primary" routerLink="/verCorreo/{{contacto.id}}"><i class="far fa-eye"></i>
            Ver</button></td>
      </tr>
    </tbody>
  </table>
</div>
