/* estilos.css */

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.container {
  color: white;
  animation: fadeIn 1s ease-in;
}

.card {
  background-color: black;
  color: white;
}

.card-header {
  background-color: #3a4450;
}

.card-body {
  background-color: #3a4450;
}

.form-control {
  background-color: #293038;
  color: white;
  border: none; /* Oculta los bordes de los cuadros de texto */
  outline: none; /* Oculta el contorno al enfocar los cuadros de texto */
}

.btn {
  color: white;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn:hover {
  background-color: #138496;
  border-color: #138496;
}

.btn:active {
  background-color: black; /* Cambia el color de fondo al hacer clic */
  border-color: black; /* Cambia el color del borde al hacer clic */
}

.btn-block {
  display: block;
  width: 100%;
}

.text-center {
  text-align: center;
}

.custom-image {
  max-width: 30%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
