<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="#">
    <i class="fas fa-cubes"></i> Blocky
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/"><i class="fas fa-home"></i> Inicio</a>
      </li>
      <li class="nav-item" *ngIf="isLogged && isAdmin">
        <a class="nav-link" routerLink="/lista"><i class="far fa-list-alt"></i> Lista</a>
      </li>
      <li class="nav-item" *ngIf="isLogged && !isAdmin">
        <a class="nav-link" routerLink="/listaNotas"><i class="far fa-file-alt"></i> Notas</a>
      </li>
      <li class="nav-item" *ngIf="isLogged && isAdmin">
        <a class="nav-link" routerLink="/verLog"><i class="	fas fa-tasks"></i> Log</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="isLogged && !isAdmin">
        <a class="nav-link" routerLink="/perfil"><i class="fas fa-user"></i> Perfil</a>
      </li>
      <li class="nav-item dropdown" *ngIf="isLogged">
        <a class="nav-link dropdown-toggle" href="/recibidos" id="contactDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i *ngIf="isLogged" class="fas fa-envelope"></i> Contacto
        </a>
        <div class="dropdown-menu" aria-labelledby="contactDropdown">
          <a class="dropdown-item" routerLink="/recibidos"><i class="fas fa-inbox"></i> Recibidos</a>
          <a class="dropdown-item" routerLink="/enviados"><i class="fas fa-paper-plane"></i> Enviados</a>
          <a class="dropdown-item" *ngIf="!isAdmin" routerLink="/redactar"><i class="fas fa-edit"></i> Redactar</a>
        </div>
      </li>
      <li class="nav-item" *ngIf="!isLogged">
        <a class="nav-link" routerLink="/login"><i class="fas fa-sign-in-alt"></i> Iniciar Sesión</a>
      </li>
      <li class="nav-item" *ngIf="isLogged" (click)="onLogOut()">
        <a class="nav-link" style="cursor: pointer;"><i class="fas fa-door-open"></i> Cerrar Sesión</a>
      </li>
    </ul>
  </div>
</nav>
