<app-menu></app-menu>

<div class="container">
  <div class="search-container">
    <input type="text" [(ngModel)]="searchText" (input)="filterNotas()" (blur)="clearSearchText()" placeholder="Buscar nota...">
  </div>

  <div class="row">
    <ng-container *ngFor="let nota of filteredNotas; let i = index;">
      <div class="col-md-3">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">{{nota.titulo}}</h5>
            <p class="card-text">{{nota.texto.slice(0, 40)}}{{nota.texto.length > 40 ? ' ...' : ''}}</p>
            <div class="btn-group">
              <button class="btn btn-outline-primary" routerLink="/detalleNotas/{{nota.id}}"><i class="far fa-eye"></i> Ver</button>
              <button class="btn btn-outline-warning" routerLink="/editarNotas/{{nota.id}}"><i class="far fa-edit"></i> Editar</button>
              <button class="btn btn-outline-danger" (click)="confirmarBorrar(nota.id)"><i class="far fa-trash-alt"></i> Eliminar</button>
            </div>
          </div>
        </div>
      </div>
      <div class="w-100 d-md-none"></div> <!-- Agrega un salto de línea en dispositivos móviles -->
      <div class="w-100 d-none d-md-block d-lg-none"></div> <!-- Agrega un salto de línea en tablets -->
    </ng-container>
  </div>

  <div class="mt-3" *ngIf="filteredNotas.length === 0 && searchText.length === 0 && !isClickedOutsideSearch">
    <h3 style="text-align: center;">No tienes ninguna nota, crea tu primera nota!! </h3>
  </div>  

  <div class="mt-3" *ngIf="filteredNotas.length === 0 && searchText.length > 0">
    <h3 style="text-align: center;">No se encontraron notas con el título "{{ searchText }}"</h3>
  </div>

  <div class="mt-3">
    <button class="btn btn-outline-success btn-lg" routerLink="/nuevoNotas">
      <i class="fas fa-plus-circle"></i> Nueva Nota
    </button>
  </div>
</div>

<app-footer></app-footer>
